.form-order {
  margin: 1rem 0;
  height: 10rem;
  overflow: scroll;
}

.form-order::-webkit-scrollbar {
  display: none;
}

.control-order {
  margin-bottom: 0.5rem;
}

.control-order label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control-order input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions-order {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions-order button {
  font: inherit;
  color: #f89c34;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actactions-orderions button:hover,
.actions-order button:active {
  background-color: #ffe6dc;
}

.actions-order .submit {
  border: 1px solid #f89c34;
  background-color: #f89c34;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #f89c34;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.error {
  color: red;
}
